{% extends "baseuser.html" %} {% load staticfiles %} {% block head_title %}Default Infrastructure | {% endblock %} {% block content %}
<div class="container" style="min-height:865px;">
  <hr>
  <ol class="breadcrumbs" style="margin-bottom:0em;">
    <li><a href="{% url 'user' %}">Main menu</a></li>
    <li>Custom infrastructure</li>
  </ol>
  <div class="col-md-12">
    <div class="row justify-content-center">
      <h2>Compose your <b>own</b> infrastructure !</h2>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-8">
        <div class="row justify-content-center">
          <h3>Instances configuration</h5>
        </div>
        <div class="boxed boxed--border">
          <form class="text-left form-email row" data-success="Thanks for your enquiry, we'll be in touch shortly." data-error="Please fill in all fields correctly." >
            <div class="col-md-12 text-center boxed" style="margin-top:-4%; margin-bottom:-4%;">
              <h5>Instance 1</h5>
            </div>
            <div class="col-md-12 text-center boxed" style="margin-top:-2%; margin-bottom:-4%;">
              <span><b>AMI :</b></span>
            </div>
            <div class="col-4 text-center">
              <div class="input-radio">
                <span>Amazon Linux AMI 2018.03.0</span>
                <input type="radio" name="AMI" value="10kplus" class="validate-required" />
                <label></label>
              </div>
            </div>
            <div class="col-4 text-center">
              <div class="input-radio">
                <span>Red Hat Enterprise Linux 7.5</span>
                <input type="radio" name="AMI" value="10kplus" class="validate-required" />
                <label></label>
              </div>
            </div>
            <div class="col-4 text-center">
              <div class="input-radio">
                <span>Ubuntu Server 16.04 LTS</span>
                <input type="radio" name="AMI" value="10kplus" class="validate-required" />
                <label></label>
              </div>
            </div>
            <div class="col-md-12 text-center boxed" style="margin-top:-2%; margin-bottom:-4%;">
              <span><b>Instance type:</b></span>
            </div>
            <div class="col-4 text-center">
              <div class="input-radio">
                <span>T2.nano</span>
                <input type="radio" name="IType" value="10kplus" class="validate-required" />
                <label></label>
              </div>
            </div>
            <div class="col-4 text-center">
              <div class="input-radio">
                <span>T2.micro</span>
                <input type="radio" name="IType" value="10kplus" class="validate-required" />
                <label></label>
              </div>
            </div>
            <div class="col-4 text-center">
              <div class="input-radio">
                <span>T2.small</span>
                <input type="radio" name="IType" value="10kplus" class="validate-required" />
                <label></label>
              </div>
            </div>
            <div class="col-md-12 text-center boxed" style="margin-top:-2%; margin-bottom:-4%;">
              <span><b>Associated subnet :</b></span>
            </div>
            <div class="col-md-3 col-6 text-center">
              <div class="input-radio">
                <span>Public Subnet1</span>
                <input type="radio" name="Subnet" value="30kplus" class="validate-required" />
                <label></label>
              </div>
            </div>
            <div class="col-md-3 col-6 text-center">
              <div class="input-radio">
                <span>Public Subnet2</span>
                <input type="radio" name="Subnet" value="30kplus" class="validate-required" />
                <label></label>
              </div>
            </div>
            <div class="col-md-3 col-6 text-center">
              <div class="input-radio">
                <span>Private Subnet1</span>
                <input type="radio" name="Subnet" value="30kplus" class="validate-required" />
                <label></label>
              </div>
            </div>
            <div class="col-md-3 col-6 text-center">
              <div class="input-radio">
                <span>Private Subnet2</span>
                <input type="radio" name="Subnet" value="30kplus" class="validate-required" />
                <label></label>
              </div>
            </div>
          </form>
        </div>
        <div class="row justify-content-center">
          <a class="btn btn--primary type--uppercase" style="margin-top:2%;" href="{% url 'cusInf_SG' %}">
            <span class="btn__text">previous</span>
          </a>
          <a class="btn btn--primary type--uppercase" style="margin-top:2%;" href="{% url 'cusInf_Instance' %}">
            <span class="btn__text">next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
