{% extends "baseuser.html" %} {% load staticfiles %} {% load l10n %}
 {% block head_title %}Default Infrastructure | {% endblock %} {% block content %}
<div class="container">
  <hr>
  <ol class="breadcrumbs" style="margin-bottom:0em;">
    <li><a href="{% url 'user' %}">Main menu</a></li>
    <li>Custom infrastructure</li>
  </ol>
  <div class="col-md-12">
    <div class="row justify-content-center">
      <h2>Compose your <b>own</b> infrastructure !</h2>{{nacl}}
    </div>
  </div>
  </div>
  <div class="col-md-12">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-8">
        <div class="row justify-content-center">
          <h3>NACLs configuration</h5>
        </div>
          {% if nacl == 1 %}
          <div class="boxed boxed--border">
            <form class="site-form" action=" {% url 'cusInf_NACL' %} " method="POST">
              {%csrf_token%}
              <div class="col-md-12 text-center boxed" style="margin-bottom:-4%; margin-top:-4%;">
                <h5>NACL1</h5>
              </div>
              <div class="col-md-12">
                <span><b>Source IP:</b></span>
                <input type="text" name="name" placeholder="10.0.0.0/24 for example" class="validate-required" />
              </div>
              <div class="col-md-12 text-center boxed" style="margin-top:-2%; margin-bottom:-4%;">
                <span><b>Allowed inbound protocols:</b></span>
              </div>
              <div class="col-md-3 col-6 text-center">
                <div class="input-checkbox">
                  <input type="checkbox" name="design" />
                  {{form.type.0}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <div class="input-checkbox">
                  <input type="checkbox" name="design" />
                  {{form.type.1}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <div class="input-checkbox">
                  <input type="checkbox" name="brand" />
                  {{form.type.2}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <div class="input-checkbox">
                  <input type="checkbox" name="marketing" />
                  {{form.type.3}}
                </div>
              </div>
              <div class="col-md-12 text-center boxed" style="margin-top:-2%; margin-bottom:-4%;">
                <span><b>Allowed outbound protocols:</b></span>
              </div>
              <div class="col-md-3 col-6 text-center">
                <div class="input-checkbox">
                  <input type="checkbox" name="design" />
                  {{form.type.0}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <div class="input-checkbox">
                  <input type="checkbox" name="dev" />
                  {{form.type.1}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <div class="input-checkbox">
                  <input type="checkbox" name="brand" />
                  {{form.type.2}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <div class="input-checkbox">
                  <input type="checkbox" name="marketing" />
                  {{form.type.3}}
                </div>
              </div>
            </form>
          </div>
          {% elif nacl == 2 %}
          <div class="boxed boxed--border">
            <form class="site-form" action=" {% url 'cusInf_NACL' %} " method="POST">
              {%csrf_token%}
              <div class="col-md-12 text-center boxed" style="margin-bottom:-4%; margin-top:-4%;">
                <h5>NACL1</h5>
              </div>
              <div class="col-md-12">
                <span><b>Source IP:</b></span>
                <input type="text" name="name" placeholder="10.0.0.0/24 for example" class="validate-required" />
              </div>
              <div class="col-md-12 text-center boxed" style="margin-top:2%; margin-bottom:4%;">
                <span><b>Allowed inbound protocols:</b></span>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">SSH</span>
                <div class="input-checkbox">
                  <input type="checkbox" />
                  {{form1.type.0}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">HTTPS</span>
                <div class="input-checkbox">
                  <input type="checkbox" />
                  {{form1.type.1}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ICMP</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="brand" />
                  {{form1.type.2}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ALL</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="marketing" />
                  {{form1.type.3}}
                </div>
              </div>
              <div class="col-md-12 text-center boxed" style="margin-top:-2%; margin-bottom:-4%;">
                <span><b>Allowed outbound protocols:</b></span>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">SSH</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="design" />
                  {{form1.type.0}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">HTTPS</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="dev" />
                  {{form1.type.1}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ICMP</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="brand" />
                  {{form1.type.2}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ALL</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="marketing" />
                  {{form1.type.3}}
                </div>
              </div>
            </form>
          </div>
          <div class="boxed boxed--border">
            <form class="site-form" action=" {% url 'cusInf_NACL' %} " method="POST">
              {%csrf_token%}
              <div class="col-md-12 text-center boxed" style="margin-bottom:-4%; margin-top:-4%;">
                <h5>NACL2</h5>
              </div>
              <div class="col-md-12">
                <span><b>Source IP:</b></span>
                <input type="text" name="name" placeholder="10.0.0.0/24 for example" class="validate-required" />
              </div>
              <div class="col-md-12 text-center boxed" style="margin-top:-2%; margin-bottom:-4%;">
                <span><b>Allowed inbound protocols:</b></span>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">SSH</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="design" />
                  {{form1.type.0}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">HTTPS</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="dev" />
                  {{form1.type.1}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ICMP</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="brand" />
                  {{form1.type.2}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ALL</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="marketing" />
                  {{form1.type.3}}
                </div>
              </div>
              <div class="col-md-12 text-center boxed" style="margin-top:-2%; margin-bottom:-4%;">
                <span><b>Allowed outbound protocols:</b></span>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">SSH</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="design" />
                  {{form1.type.0}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">HTTPS</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="dev" />
                  {{form1.type.1}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ICMP</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="brand" />
                  {{form1.type.2}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ALL</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="marketing" />
                  {{form1.type.3}}
                </div>
              </div>
            </form>
          </div>
          {% elif nacl == 3 %}
          <div class="boxed boxed--border">
            <form class="site-form" action=" {% url 'cusInf_NACL' %} " method="POST">
              {%csrf_token%}
              <div class="col-md-12 text-center boxed" style="margin-bottom:-4%; margin-top:-4%;">
                <h5>NACL1</h5>
              </div>
              <div class="col-md-12">
                <span><b>Source IP:</b></span>
                <input type="text" name="name" placeholder="10.0.0.0/24 for example" class="validate-required" />
              </div>
              <div class="col-md-12 text-center boxed" style="margin-top:-2%; margin-bottom:-4%;">
                <span><b>Allowed inbound protocols:</b></span>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">SSH</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="design" />
                  {{form1.type.0}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">HTTPS</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="dev" />
                  {{form1.type.1}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ICMP</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="brand" />
                  {{form1.type.2}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ALL</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="marketing" />
                  {{form1.type.3}}
                </div>
              </div>
              <div class="col-md-12 text-center boxed" style="margin-top:-2%; margin-bottom:-4%;">
                <span><b>Allowed outbound protocols:</b></span>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">SSH</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="design" />
                  {{form1.type.0}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">HTTPS</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="dev" />
                  {{form1.type.1}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ICMP</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="brand" />
                  {{form1.type.2}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ALL</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="marketing" />
                  {{form1.type.3}}
                </div>
              </div>
            </form>
          </div>
          <div class="boxed boxed--border">
            <form class="site-form" action=" {% url 'cusInf_NACL' %} " method="POST">
              {%csrf_token%}
              <div class="col-md-12 text-center boxed" style="margin-bottom:-4%; margin-top:-4%;">
                <h5>NACL2</h5>
              </div>
              <div class="col-md-12">
                <span><b>Source IP:</b></span>
                <input type="text" name="name" placeholder="10.0.0.0/24 for example" class="validate-required" />
              </div>
              <div class="col-md-12 text-center boxed" style="margin-top:-2%; margin-bottom:-4%;">
                <span><b>Allowed inbound protocols:</b></span>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">SSH</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="design" />
                  {{form1.type.0}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">HTTPS</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="dev" />
                  {{form1.type.1}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ICMP</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="brand" />
                  {{form1.type.2}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ALL</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="marketing" />
                  {{form1.type.3}}
                </div>
              </div>
              <div class="col-md-12 text-center boxed" style="margin-top:-2%; margin-bottom:-4%;">
                <span><b>Allowed outbound protocols:</b></span>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">SSH</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="design" />
                  {{form1.type.0}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">HTTPS</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="dev" />
                  {{form1.type.1}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ICMP</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="brand" />
                  {{form1.type.2}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ALL</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="marketing" />
                  {{form1.type.3}}
                </div>
              </div>
            </form>
          </div>
          <div class="boxed boxed--border">
            <form class="site-form" action=" {% url 'cusInf_NACL' %} " method="POST">
              {%csrf_token%}
              <div class="col-md-12 text-center boxed" style="margin-bottom:-4%; margin-top:-4%;">
                <h5>3</h5>
              </div>
              <div class="col-md-12">
                <span><b>Source IP:</b></span>
                <input type="text" name="name" placeholder="10.0.0.0/24 for example" class="validate-required" />
              </div>
              <div class="col-md-12 text-center boxed" style="margin-top:-2%; margin-bottom:-4%;">
                <span><b>Allowed inbound protocols:</b></span>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">SSH</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="design" />
                  {{form1.type.0}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">HTTPS</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="dev" />
                  {{form1.type.1}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ICMP</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="brand" />
                  {{form1.type.2}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ALL</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="marketing" />
                  {{form1.type.3}}
                </div>
              </div>
              <div class="col-md-12 text-center boxed" style="margin-top:-2%; margin-bottom:-4%;">
                <span><b>Allowed outbound protocols:</b></span>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">SSH</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="design" />
                  {{form1.type.0}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">HTTPS</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="dev" />
                  {{form1.type.1}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ICMP</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="brand" />
                  {{form1.type.2}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ALL</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="marketing" />
                  {{form1.type.3}}
                </div>
              </div>
            </form>
          </div>
          {% elif nacl == 4 %}
          <div class="boxed boxed--border">
            <form class="site-form" action=" {% url 'cusInf_NACL' %} " method="POST">
              {%csrf_token%}
              <div class="col-md-12 text-center boxed" style="margin-bottom:-4%; margin-top:-4%;">
                <h5>NACL1</h5>
              </div>
              <div class="col-md-12">
                <span><b>Source IP:</b></span>
                <input type="text" name="name" placeholder="10.0.0.0/24 for example" class="validate-required" />
              </div>
              <div class="col-md-12 text-center boxed" style="margin-top:-2%; margin-bottom:-4%;">
                <span><b>Allowed inbound protocols:</b></span>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">SSH</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="design" />
                  {{form1.type.1}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">HTTPS</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="design" />
                  {{form1.type.1}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ICMP</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="brand" />
                  {{form1.type.2}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ALL</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="marketing" />
                  {{form1.type.3}}
                </div>
              </div>
              <div class="col-md-12 text-center boxed" style="margin-top:-2%; margin-bottom:-4%;">
                <span><b>Allowed outbound protocols:</b></span>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">SSH</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="design" />
                  {{form1.type.0}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">HTTPS</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="dev" />
                  {{form1.type.1}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ICMP</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="brand" />
                  {{form1.type.2}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ALL</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="marketing" />
                  {{form1.type.3}}
                </div>
              </div>
            </form>
          </div>
          <div class="boxed boxed--border">
            <form class="site-form" action=" {% url 'cusInf_NACL' %} " method="POST">
              {%csrf_token%}
              <div class="col-md-12 text-center boxed" style="margin-bottom:-4%; margin-top:-4%;">
                <h5>NACL2</h5>
              </div>
              <div class="col-md-12">
                <span><b>Source IP:</b></span>
                <input type="text" name="name" placeholder="10.0.0.0/24 for example" class="validate-required" />
              </div>
              <div class="col-md-12 text-center boxed" style="margin-top:-2%; margin-bottom:-4%;">
                <span><b>Allowed inbound protocols:</b></span>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">SSH</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="design" />
                  {{form1.type.0}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">HTTPS</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="dev" />
                  {{form1.type.1}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ICMP</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="brand" />
                  {{form1.type.2}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ALL</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="marketing" />
                  {{form1.type.3}}
                </div>
              </div>
              <div class="col-md-12 text-center boxed" style="margin-top:-2%; margin-bottom:-4%;">
                <span><b>Allowed outbound protocols:</b></span>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">SSH</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="design" />
                  {{form1.type.0}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">HTTPS</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="dev" />
                  {{form1.type.1}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ICMP</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="brand" />
                  {{form1.type.2}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ALL</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="marketing" />
                  {{form1.type.3}}
                </div>
              </div>
            </form>
          </div>
          <div class="boxed boxed--border">
            <form class="site-form" action=" {% url 'cusInf_NACL' %} " method="POST">
              {%csrf_token%}
              <div class="col-md-12 text-center boxed" style="margin-bottom:-4%; margin-top:-4%;">
                <h5>NACL3</h5>
              </div>
              <div class="col-md-12">
                <span><b>Source IP:</b></span>
                <input type="text" name="name" placeholder="10.0.0.0/24 for example" class="validate-required" />
              </div>
              <div class="col-md-12 text-center boxed" style="margin-top:-2%; margin-bottom:-4%;">
                <span><b>Allowed inbound protocols:</b></span>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">SSH</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="design" />
                  {{form1.type.0}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">HTTPS</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="dev" />
                  {{form1.type.1}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ICMP</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="brand" />
                  {{form1.type.2}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ALL</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="marketing" />
                  {{form1.type.3}}
                </div>
              </div>
              <div class="col-md-12 text-center boxed" style="margin-top:-2%; margin-bottom:-4%;">
                <span><b>Allowed outbound protocols:</b></span>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">SSH</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="design" />
                  {{form1.type.0}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">HTTPS</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="dev" />
                  {{form1.type.1}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ICMP</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="brand" />
                  {{form1.type.2}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ALL</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="marketing" />
                  {{form1.type.3}}
                </div>
              </div>
            </form>
          </div>
          <div class="boxed boxed--border">
            <form class="site-form" action=" {% url 'cusInf_NACL' %} " method="POST">
              {%csrf_token%}
              <div class="col-md-12 text-center boxed" style="margin-bottom:-4%; margin-top:-4%;">
                <h5>NACL4</h5>
              </div>
              <div class="col-md-12">
                <span><b>Source IP:</b></span>
                <input type="text" name="name" placeholder="10.0.0.0/24 for example" class="validate-required" />
              </div>
              <div class="col-md-12 text-center boxed" style="margin-top:-2%; margin-bottom:-4%;">
                <span><b>Allowed inbound protocols:</b></span>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">SSH</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="design" />
                  {{form1.type.0}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">HTTPS</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="dev" />
                  {{form1.type.1}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ICMP</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="brand" />
                  {{form1.type.2}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ALL</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="marketing" />
                  {{form1.type.3}}
                </div>
              </div>
              <div class="col-md-12 text-center boxed" style="margin-top:-2%; margin-bottom:-4%;">
                <span><b>Allowed outbound protocols:</b></span>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">SSH</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="design" />
                  {{form1.type.0}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">HTTPS</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="dev" />
                  {{form1.type.1}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ICMP</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="brand" />
                  {{form1.type.2}}
                </div>
              </div>
              <div class="col-md-3 col-6 text-center">
                <span class="block">ALL</span>
                <div class="input-checkbox">
                  <input type="checkbox" name="marketing" />
                  {{form1.type.3}}
                </div>
              </div>
            </form>
          </div>
          {% endif %}
        <div class="row justify-content-center">
          <a class="btn btn--primary type--uppercase" style="margin-top:2%;" href="{% url 'cusInf_Basic' %}">
            <span class="btn__text">previous</span>
          </a>
          <a class="btn btn--primary type--uppercase" style="margin-top:2%;" href="{% url 'cusInf_SG' %}">
            <span class="btn__text">next</span>
          </a>
        </div>
      </br>
      </div>
    </div>
  </div>
</div>
{% endblock %}
