{% extends "baseuser.html" %} {% load staticfiles %} {% block head_title %}Default Infrastructure | {% endblock %} {% block content %}
<div class="container" style="min-height:825px;">
  <hr>
  <ol class="breadcrumbs" style="margin-bottom:0em;">
    <li><a href="{% url 'user' %}">Main menu</a></li>
    <li><a href="{% url 'cusInf_Basic' %}">Custom infrastructure</a></li>
    <li><a href="{% url 'cusInf_NACL' %}">Network access lists</a></li>
    <li><a href="{% url 'cusInf_SG' %}">Security groups</a></li>
  </ol>
  <div class="col-md-12">
    <div class="row justify-content-center" style="margin-bottom:3%;margin-top:5%">
      <h2>Compose your <b>own</b> infrastructure !</h2>
    </div>
  </div>
  <div class="col-md-12">
        <div class="row justify-content-center">
          <h3>Public instances configuration</h5>
        </div>
        <div class="boxed boxed--border">
          <div class="row justify-content-center">
            <div class="col-md-12 col-lg-8">
          {% if inst == "1" %}
          <form class="site-form" action=" {% url 'cusInf_Pub_Instance' %} " method="POST">
            {%csrf_token%}
              <div class="col-md-12 text-center boxed" style="margin-top:-4%; margin-bottom:-4%;">
                <h5>Instance</h5>
                <hr>
              </div>
              <div class="row">
                <div class="col-md-5 text-center" style="margin-left:8%;margin-bottom:5%" >
                  <span><b>AMI type:</b></span>
                  {{form.ami_type}}
                </div>
                <div class="col-md-5 text-center "style="margin-bottom:5%">
                  <span><b>Instance type:</b></span>
                  {{form.instance_type}}
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-2 text-center">
                <input type="submit" value="    Next">
                </div>
              </div>
          </form>
          {% elif inst == "2" %}
          <form class="site-form" action=" {% url 'cusInf_Pub_Instance' %} " method="POST">
            {%csrf_token%}
              <div class="col-md-12 text-center boxed" style="margin-top:-4%; margin-bottom:-4%;">
                <h5>Instance 1</h5>
                <hr>
              </div>
              <div class="row">
                <div class="col-md-5 text-center" style="margin-left:8%;" >
                  <span><b>AMI type:</b></span>
                  {{form.ami_type}}
                </div>
                <div class="col-md-5 text-center ">
                  <span><b>Instance type:</b></span>
                  {{form.instance_type}}
                </div>
              </div>
              <div class="col-md-12 text-center boxed" style="margin-top:0%; margin-bottom:-4%;">
                <h5>Instance 2</h5>
                <hr>
              </div>
              <div class="row">
                <div class="col-md-5 text-center" style="margin-left:8%;margin-bottom:5%;" >
                  <span><b>AMI type:</b></span>
                  {{form.ami_type2}}
                </div>
                <div class="col-md-5 text-center "style="margin-bottom:5%"">
                  <span><b>Instance type:</b></span>
                  {{form.instance_type2}}
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-2 text-center">
                <input type="submit" value="    Next">
                </div>
              </div>
          </form>
          {% elif inst == "3" %}
          <form class="site-form" action=" {% url 'cusInf_Pub_Instance' %} " method="POST">
          {%csrf_token%}
            <div class="col-md-12 text-center boxed" style="margin-top:-4%; margin-bottom:-4%;">
              <h5>Instance 1</h5>
              <hr>
            </div>
            <div class="row">
              <div class="col-md-5 text-center" style="margin-left:8%;" >
                <span><b>AMI type:</b></span>
                  {{form.ami_type}}
                </div>
                <div class="col-md-5 text-center ">
                  <span><b>Instance type:</b></span>
                    {{form.instance_type}}
                </div>
              </div>
              <div class="col-md-12 text-center boxed" style="margin-top:0%; margin-bottom:-4%;">
                <h5>Instance 2</h5>
                <hr>
              </div>
              <div class="row">
                <div class="col-md-5 text-center" style="margin-left:8%;margin-bottom:5%;" >
                  <span><b>AMI type:</b></span>
                  {{form.ami_type2}}
                </div>
                <div class="col-md-5 text-center "style="margin-bottom:5%"">
                  <span><b>Instance type:</b></span>
                  {{form.instance_type2}}
                </div>
              </div>
              <div class="col-md-12 text-center boxed" style="margin-top:-2%; margin-bottom:-4%;">
                <h5>Instance 3</h5>
                <hr>
              </div>
              <div class="row">
                <div class="col-md-5 text-center" style="margin-left:8%;margin-bottom:5%;" >
                  <span><b>AMI type:</b></span>
                  {{form.ami_type3}}
                </div>
                <div class="col-md-5 text-center "style="margin-bottom:5%"">
                  <span><b>Instance type:</b></span>
                  {{form.instance_type3}}
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-2 text-center">
                  <input type="submit" value="    Next">
                </div>
              </div>
          </form>
          {% elif inst == "4" %}
          <form class="site-form" action=" {% url 'cusInf_Pub_Instance' %} " method="POST">
          {%csrf_token%}
            <div class="col-md-12 text-center boxed" style="margin-top:-4%; margin-bottom:-4%;">
              <h5>Instance 1</h5>
              <hr>
            </div>
            <div class="row">
              <div class="col-md-5 text-center" style="margin-left:8%;" >
                <span><b>AMI type:</b></span>
                  {{form.ami_type}}
                </div>
                <div class="col-md-5 text-center ">
                  <span><b>Instance type:</b></span>
                    {{form.instance_type}}
                </div>
              </div>
              <div class="col-md-12 text-center boxed" style="margin-top:0%; margin-bottom:-4%;">
                <h5>Instance 2</h5>
                <hr>
              </div>
              <div class="row">
                <div class="col-md-5 text-center" style="margin-left:8%;margin-bottom:5%;" >
                  <span><b>AMI type:</b></span>
                  {{form.ami_type2}}
                </div>
                <div class="col-md-5 text-center "style="margin-bottom:5%"">
                  <span><b>Instance type:</b></span>
                  {{form.instance_type2}}
                </div>
              </div>
              <div class="col-md-12 text-center boxed" style="margin-top:-2%; margin-bottom:-4%;">
                <h5>Instance 3</h5>
                <hr>
              </div>
              <div class="row">
                <div class="col-md-5 text-center" style="margin-left:8%;margin-bottom:5%;" >
                  <span><b>AMI type:</b></span>
                  {{form.ami_type3}}
                </div>
                <div class="col-md-5 text-center "style="margin-bottom:5%"">
                  <span><b>Instance type:</b></span>
                  {{form.instance_type3}}
                </div>
              </div>
              <div class="col-md-12 text-center boxed" style="margin-top:-2%; margin-bottom:-4%;">
                <h5>Instance 4</h5>
                <hr>
              </div>
              <div class="row">
                <div class="col-md-5 text-center" style="margin-left:8%;margin-bottom:5%;" >
                  <span><b>AMI type:</b></span>
                  {{form.ami_type4}}
                </div>
                <div class="col-md-5 text-center "style="margin-bottom:5%"">
                  <span><b>Instance type:</b></span>
                  {{form.instance_type4}}
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-2 text-center">
                  <input type="submit" value="    Next">
                </div>
              </div>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
