{% extends "baseuser.html" %} {% load staticfiles %} {% load l10n %}
 {% block head_title %}Default Infrastructure | {% endblock %} {% block content %}
<div class="container" style="min-height:825px;">
  <hr>
  <ol class="breadcrumbs" style="margin-bottom:0em;">
    <li><a href="{% url 'user' %}">Main menu</a></li>
    <li><a href="{% url 'cusInf_Basic' %}">Custom infrastructure</a></li>
  </ol>
  <div class="col-md-12">
    <div class="row justify-content-center" style="margin-bottom:3%;margin-top:5%">
      <h2>Compose your <b>own</b> infrastructure !</h2>
    </div>
  </div>
  <div class="col-md-12">
        <div class="row justify-content-center">
          <h3>NACLs configuration</h5>
        </div>
        {% if nacl == "1" %}
        <div class="boxed boxed--border">
          <div class="row justify-content-center">
            <div class="col-md-12 col-lg-8">
            <form class="site-form" action=" {% url 'cusInf_NACL' %} " method="POST">
              {%csrf_token%}
                <div class="col-md-12 text-center boxed" style="margin-bottom:-2%; margin-top:-4%">
                  <h5>NACL</h5>
                  <hr>
                </div>
                <div class="row">
                  <div class="col-md-4 text-center" style="margin-left:17%; margin-bottom:5%" >
                    <span><b>Allowed inbound protocols:</b></span>
                    {{form.nacl_in_prot}}
                  </div>
                  <div class="col-md-4 text-center " style="margin-bottom:5%">
                    <span><b>Allowed outbound protocols:</b></span>
                    {{form.nacl_out_prot}}
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-md-2 text-center">
                  <input type="submit" value="    Next">
                  </div>
                </div>
            </form>
          </div>
        {% elif nacl == "2" %}
        <div class="boxed boxed--border">
            <form class="site-form" action=" {% url 'cusInf_NACL' %} " method="POST">
              {%csrf_token%}
                <div class="col-md-12 text-center boxed" style="margin-bottom:-2%; margin-top:-4%;">
                  <h5>NACL 1</h5>
                  <hr>
                </div>
                <div class="row">
                  <div class="col-md-4 text-center" style="margin-left:17%;" >
                    <span><b>Allowed inbound protocols:</b></span>
                    {{form.nacl_in_prot}}
                  </div>
                  <div class="col-md-4 text-center ">
                    <span><b>Allowed outbound protocols:</b></span>
                    {{form.nacl_out_prot}}
                  </div>
                </div>
                {%csrf_token%}
                  <div class="col-md-12 text-center boxed" style="margin-bottom:-2%;">
                    <h5>NACL 2</h5>
                    <hr>
                  </div>
                  <div class="row">
                    <div class="col-md-4 text-center" style="margin-left:17%;" >
                      <span><b>Allowed inbound protocols:</b></span>
                      {{form.nacl_in_prot2}}
                    </div>
                    <div class="col-md-4 text-center ">
                      <span><b>Allowed outbound protocols:</b></span>
                      {{form.nacl_out_prot2}}
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-md-2 text-center">
                    <input type="submit" value="    Next">
                    </div>
                  </div>
              </form>
          </div>
        {% elif nacl == "3" %}
        <div class="boxed boxed--border">
            <form class="site-form" action=" {% url 'cusInf_NACL' %} " method="POST">
              {%csrf_token%}
                <div class="col-md-12 text-center boxed" style="margin-bottom:-2%; margin-top:-4%;">
                  <h5>NACL 1</h5>
                  <hr>
                </div>
                <div class="row">
                  <div class="col-md-4 text-center" style="margin-left:17%;" >
                    <span><b>Allowed inbound protocols:</b></span>
                    {{form.nacl_in_prot}}
                  </div>
                  <div class="col-md-4 text-center ">
                    <span><b>Allowed outbound protocols:</b></span>
                    {{form.nacl_out_prot}}
                  </div>
                </div>
                {%csrf_token%}
                  <div class="col-md-12 text-center boxed" style="margin-bottom:-2%;">
                    <h5>NACL 2</h5>
                    <hr>
                  </div>
                  <div class="row">
                    <div class="col-md-4 text-center" style="margin-left:17%;" >
                      <span><b>Allowed inbound protocols:</b></span>
                      {{form.nacl_in_prot2}}
                    </div>
                    <div class="col-md-4 text-center ">
                      <span><b>Allowed outbound protocols:</b></span>
                      {{form.nacl_out_prot2}}
                    </div>
                  </div>
                  {%csrf_token%}
                    <div class="col-md-12 text-center boxed" style="margin-bottom:-2%;">
                      <h5>NACL 3</h5>
                      <hr>
                    </div>
                    <div class="row">
                      <div class="col-md-4 text-center" style="margin-left:17%;" >
                        <span><b>Allowed inbound protocols:</b></span>
                        {{form.nacl_in_prot3}}
                      </div>
                      <div class="col-md-4 text-center ">
                        <span><b>Allowed outbound protocols:</b></span>
                        {{form.nacl_out_prot3}}
                      </div>
                    </div>
                  <div class="row justify-content-center">
                    <div class="col-md-2 text-center">
                    <input type="submit" value="    Next">
                    </div>
                  </div>
              </form>
          </div>
        {% elif nacl == "4" %}
        <div class="boxed boxed--border">
            <form class="site-form" action=" {% url 'cusInf_NACL' %} " method="POST">
              {%csrf_token%}
                <div class="col-md-12 text-center boxed" style="margin-bottom:-2%; margin-top:-4%;">
                  <h5>NACL 1</h5>
                  <hr>
                </div>
                <div class="row">
                  <div class="col-md-4 text-center" style="margin-left:17%;" >
                    <span><b>Allowed inbound protocols:</b></span>
                    {{form.nacl_in_prot}}
                  </div>
                  <div class="col-md-4 text-center ">
                    <span><b>Allowed outbound protocols:</b></span>
                    {{form.nacl_out_prot}}
                  </div>
                </div>
                {%csrf_token%}
                  <div class="col-md-12 text-center boxed" style="margin-bottom:-2%;">
                    <h5>NACL 2</h5>
                    <hr>
                  </div>
                  <div class="row">
                    <div class="col-md-4 text-center" style="margin-left:17%;" >
                      <span><b>Allowed inbound protocols:</b></span>
                      {{form.nacl_in_prot2}}
                    </div>
                    <div class="col-md-4 text-center ">
                      <span><b>Allowed outbound protocols:</b></span>
                      {{form.nacl_out_prot2}}
                    </div>
                  </div>
                  {%csrf_token%}
                    <div class="col-md-12 text-center boxed" style="margin-bottom:-2%;">
                      <h5>NACL 3</h5>
                      <hr>
                    </div>
                    <div class="row">
                      <div class="col-md-4 text-center" style="margin-left:17%;" >
                        <span><b>Allowed inbound protocols:</b></span>
                        {{form.nacl_in_prot3}}
                      </div>
                      <div class="col-md-4 text-center ">
                        <span><b>Allowed outbound protocols:</b></span>
                        {{form.nacl_out_prot3}}
                      </div>
                    </div>
                    {%csrf_token%}
                      <div class="col-md-12 text-center boxed" style="margin-bottom:-2%;">
                        <h5>NACL 4</h5>
                        <hr>
                      </div>
                      <div class="row">
                        <div class="col-md-4 text-center" style="margin-left:17%;" >
                          <span><b>Allowed inbound protocols:</b></span>
                          {{form.nacl_in_prot4}}
                        </div>
                        <div class="col-md-4 text-center ">
                          <span><b>Allowed outbound protocols:</b></span>
                          {{form.nacl_out_prot4}}
                        </div>
                      </div>
                  <div class="row justify-content-center">
                    <div class="col-md-2 text-center">
                    <input type="submit" value="    Next">
                    </div>
                  </div>
              </form>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
