{% extends "baseuser.html" %} {% load staticfiles %} {% block head_title %}Default Infrastructure | {% endblock %} {% block content %}
<div class="container" style="min-height:865px;">
  <hr>
  <ol class="breadcrumbs" style="margin-bottom:0em;">
    <li><a href="{% url 'user' %}">Main menu</a></li>
    <li>Custom infrastructure</li>
  </ol>
  <div class="col-md-12">
    <div class="row justify-content-center">
      <h2>Compose your <b>own</b> infrastructure !</h2>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-8">
        <div class="row justify-content-center">
          <h3>Basic configuration</h5>
        </div>
        <section style="background:white;">
          <div class="col-md-12" style="margin-bottom:2%;">
            <div style="float:left;">
              <span><b>Infrastructure name:</b></span>
            </div>
            <input type="text" name="name" placeholder="Set a significant name" class="validate-required">
          </div>
          <form class="form-email row">
            <div class="col-md-6" style="margin-left:3%;">
              <span><b>Public subnets number :</b></span>
              <div class="input-number">
                <input type="number" name="quantity" placeholder="Quantity" value="0" min="0" max="4">
                <div class="input-number__controls">
                  <span class="input-number__increase"><i class="stack-up-open"></i></span>
                  <span class="input-number__decrease"><i class="stack-down-open"></i></span>
                </div>
              </div>
            </div>
            <div class="col-md-6" style="margin-left:-3%;">
              <span><b>Private subnets number :</b></span>
              <div class="input-number">
                <input type="number" name="quantity" placeholder="Quantity" value="0" min="0" max="4">
                <div class="input-number__controls">
                  <span class="input-number__increase"><i class="stack-up-open"></i></span>
                  <span class="input-number__decrease"><i class="stack-down-open"></i></span>
                </div>
              </div>
            </div>
            <div class="col-md-12" style="margin-left:3%;">
              <span><b>Network ACLs number :</b></span>
              <div class="input-number">
                <input type="number" name="quantity" placeholder="Quantity" value="0" min="0" max="4">
                <div class="input-number__controls">
                  <span class="input-number__increase"><i class="stack-up-open"></i></span>
                  <span class="input-number__decrease"><i class="stack-down-open"></i></span>
                </div>
              </div>
            </div>
            <div class="col-md-12" style="margin-left:3%;">
              <span><b>Security groups number :</b></span>
              <div class="input-number">
                <input type="number" name="quantity" placeholder="Quantity" value="0" min="0" max="4">
                <div class="input-number__controls">
                  <span class="input-number__increase"><i class="stack-up-open"></i></span>
                  <span class="input-number__decrease"><i class="stack-down-open"></i></span>
                </div>
              </div>
            </div>
            <div class="col-md-12" style="margin-left:3%;">
              <span><b>Instances number :</b></span>
              <div class="input-number">
                <input type="number" name="quantity" placeholder="Quantity" value="0" min="0" max="4">
                <div class="input-number__controls">
                  <span class="input-number__increase"><i class="stack-up-open"></i></span>
                  <span class="input-number__decrease"><i class="stack-down-open"></i></span>
                </div>
              </div>
            </div>
          </form>
        </section>
        <div class="row justify-content-center" style="margin-top:3%;">
          <a class="btn btn--primary type--uppercase" style="margin-top:2%;" href="{% url 'cusInf_NACL' %}">
            <span class="btn__text">next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
