{% extends "baseuser.html" %} {% load staticfiles %} {% block head_title %}Default Infrastructure | {% endblock %} {% block content %}
<div class="container" style="min-height:865px;">
  <hr>
  <ol class="breadcrumbs" style="margin-bottom:0em;">
    <li><a href="{% url 'user' %}">Main menu</a></li>
    <li>Custom infrastructure</li>
  </ol>
  <div class="col-md-12">
    <div class="row justify-content-center">
      <h2>Compose your <b>own</b> infrastructure !</h2>
    </div>
  </div>
  <div class="boxed boxed--border">
  <div class="col-md-12">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-8">
        <div class="row justify-content-center">
          <h3>Basic configuration</h5>
        </div>
      </br>
        <section style="background:white;">
          <form class="site-form" action=" {% url 'cusInf_Basic' %} " method="POST">
            {%csrf_token%}
            <div class="col-md-12" style="margin-bottom:2%;">
              <div align="center" >
                <span ><b>Infrastructure name:</b></span>
                {{form.infrastructure_name}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"  style="margin-left:15%;">
                <div align="center" >
                  <span><b>Public subnets number :</b></span>
                </div>
                {{form.infrastructure_pubsub}}
              </div>
              <div class="col-md-4">
                <div align="center" >
                  <span><b>Private subnets number :</b></span>
                </div>
                {{form.infrastructure_prvsub}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-4" style="margin-left:7%;">
                <div align="center" >
                  <span><b>Network ACLs number :</b></span>
                </div>
                {{form.infrastructure_nacl}}
              </div>
              <div class="col-md-4" style="margin-left:21%;">
                <div align="center" >
                  <span><b>Security groups number :</b></span>
                </div>
                {{form.infrastructure_sg}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div align="center" >
                  <span><b>Public instances number :</b></span>
                </div>
                {{form.infrastructure_pubinst}}
              </div>
              <div class="col-md-4" style="margin-left:33%;">
                <div align="center" >
                  <span><b>Private instances number :</b></span>
                </div>
                {{form.infrastructure_prvinst}}
              </div>
            </div>

           <input type="submit" value="Next">
          </form>
          
        </section>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
