{% extends "baseuser.html" %} {% load staticfiles %} {% block head_title %}Welcome | {% endblock %} {% block content %}
<div class="container" style="min-height:830px;">
  <hr>
  </br>
  <div class="col-md-12">
    <div class="boxed bg--secondary boxed--lg boxed--border">
      <div class="row justify-content-center">
        <h4>Getting started with <b>ProjectX</b></h4>
      </div>
      <div class="row justify-content-center">
        <p>Start now and build your infrastructure easily in short time</p>
      </div>
      </br>
      <section class="text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="tabs-container" data-content-align="left">
                <ul class="tabs">
                  <li class="active">
                    <div class="tab__title text-center">
                      <i class="icon icon--sm block icon-Target-Market"></i>
                      <span class="h5">Default infrastructure</span>
                    </div>
                    <div class="tab__content">
                      <p class="lead">
                        Build your infrastructure based on default configuration, this will make you win the time of configuring specifique configuration by launching default configuration. We have multiple default configurations!
                      </p>
                      <p class="lead">
                        We have multiple default configurations waiting for you to build!
                      </p>
                      <div class="col-md-12 text-center">
                        <a class="btn btn--primary type--uppercase" href="#">
                          <span class="btn__text">Build your default infrastructure</span>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="tab__title text-center">
                      <i class="icon icon--sm block icon-Text-Effect"></i>
                      <span class="h5">Custom infrastructure</span>
                    </div>
                    <div class="tab__content">
                      <p class="lead">
                        Build your customized infrastructure based on your specifique needs, you can specifie network adresses, instances, subnets ...
                      </p>
                      <p class="lead">
                        Your infrastructure is waiting for you to build </p>
                      <div class="col-md-12 text-center">
                        <a class="btn btn--primary type--uppercase" href="#">
                          <span class="btn__text">Build your customized infrastructure</span>
                        </a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}
