{% extends "baseuser.html" %} {% load staticfiles %} {% block head_title %}Default Infrastructure | {% endblock %} {% block content %}
<div class="container" style="min-height:825px;">
  <hr>
  <ol class="breadcrumbs" style="margin-bottom:0em;">
    <li><a href="{% url 'user' %}">Main menu</a></li>
    <li>Default infrastructure</li>
  </ol>
  <div class="col-md-12">
    <div class="row justify-content-center" style="margin-bottom:0%;margin-top:5%">
      <h2>Choose the best <b>model</b> for your infrastructure !</h2>
    </div>
  </div>
  <div class="col-md-12">
    <div class="boxed bg--secondary boxed--lg boxed--border" style="background:white;">
      <div class="tabs-container text-center" data-content-align="left">
        <ul class="tabs">
          <li class="active">
            <div class="tab__title">
              <span class="h5">Tiny</span>
            </div>
            <div class="tab__content">
              <section class="switchable bg--secondary" style="background:white;">
                <div class="container">
                  <div class="row justify-content-between">
                    <div class="col-md-7 switchable__text">
                      <ul class="accordion accordion-1">
                        <li>
                          <div class="accordion__title">
                            <span class="h5">Compute</span>
                          </div>
                          <div class="accordion__content">
                            <p class="lead">
                              This model contains two EC2 instances with the same AMI wich is 'Amazon Linux 2 AMI
                              ' and with the same type which is 't2.micro'.
                            </p>
                            <p class="lead">
                              It contains one public instance which can access to internet directly with a public IP address, and the second instance is made for private issuse, it could connect the other instance with its private IP address.
                            </p>
                          </div>
                        </li>
                        <li>
                          <div class="accordion__title">
                            <span class="h5">Security</span>
                          </div>
                          <div class="accordion__content">
                            <p class="lead">
                              We made two level of security in our model.
                            </p>
                            <p class="lead">
                              The first is the Network Access List which is different between public and private subnets, and the second is the Security Groups wich is another solution to ensure security directly for each instances.
                            </p>
                          </div>
                        </li>
                        <li>
                          <div class="accordion__title">
                            <span class="h5">Region</span>
                          </div>
                          <div class="accordion__content">
                            <p class="lead">
                              This model will be deployed in the region of London.
                            </p>
                          </div>
                        </li>
                      </ul>
                      {% if val == 'CREATE_COMPLETE' and val1 == user.username and val2 == 'tiny' %}
                      <div class="tabs-container text-center" data-content-align="left">
                        <ul class="tabs">
                          <li>
                            <div class="tab__title">
                              <a class="h5" style="color:black; text-decoration:none;" href="https://s3.eu-west-2.amazonaws.com/ml16compart/newkp.pem" >Download private key</a>
                            </div>
                          </li>
                          <li>
                            <div class="tab__title">
                              <a class="h5" style="color:black; text-decoration:none;" href="{% url 'deleteInfra1' %}" >Delete Stack</a>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </br>
                      {% elif val == 'CREATE_IN_PROGRESS' and val1 == user.username and val2 == 'tiny' %}
                      </br>
                      <div class="row justify-content-center">
                        <div class="alert bg--success">
                          <div class="alert__body">
                            <span>Your infrastructure will be available in few minutes ! </span>
                          </div>
                        </div>
                      </div>
                      {% elif val == 'DELETE_IN_PROGRESS' and val1 == user.username and val2 == 'tiny' %}
                      <div class="row justify-content-center">
                        <div class="alert bg--error">
                          <div class="alert__body">
                            <span>Your infrastructure will be removed in few minutes !</span>
                          </div>
                        </div>
                      </div>
                      {% else %}
                      <form class="site-form" action=" {% url 'createDefInfra1' %} " method="POST">
                        {%csrf_token%}
                        {{form}}
                        <input type="submit" value="Build your default infrastructure">
                      </form>
                      {% endif %}
                    </div>
                    <div class="col-lg-5 col-md-6">
                      <img alt="Image" class="border--round" src="{% static 'img/cf_model_tiny.png' %}" />
                    </div>
                  </div>
                  {% if val == 'CREATE_COMPLETE' and val1 == user.username and val2 == 'tiny'%}
                  </br>
                  <div class="boxed bg--secondary boxed--md boxed--border" style="background:white;">
                    <div class="row justify-content-center">
                      <div class="col-md-12 col-lg-8">
                        <div class="wizard">
                          <h5>Private key</h5>
                          <section class="text-center">
                            <div class="pos-vertical-center">
                              <h4>Download the private key !</h4>
                            </div>
                          </section>
                          <h5>Permission</h5>
                          <section class="text-center">
                            <div class="pos-vertical-center">
                              <h4>Change key permissions via the command:</h4>
                              <h4><b>chmod 400 newkp.pem</b></h4>
                            </div>
                          </section>
                          <h5>Connect</h5>
                          <section class="text-center">
                            <div class="pos-vertical-center">
                              <h4>Connect to your instances via this ssh command:</h4>
                              </hr>
                              <h4 style="color:#4d92df;"><b>Instance 1:</b> </h4>
                              <h4>ssh -i "newkp.pem" ec2-user@<b>{{ip1}}</b><h4>
                              <h4 style="color:#4d92df;"><b>Instance 2:</b> </h4>
                              <h4>ssh -i "newkp.pem" ec2-user@<b>{{ip2}}</b><h4>
                              </div>
                            </section>
                          </div>
                        </div>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </section>
            </div>
          </li>
          <li>
            <div class="tab__title">
              <span class="h5">Micro</span>
            </div>
            <div class="tab__content">
              <section class="switchable bg--secondary" style="background:white;">
                <div class="container">
                  <div class="row justify-content-between">
                    <div class="col-md-7 switchable__text">
                      <ul class="accordion accordion-1">
                        <li>
                          <div class="accordion__title">
                            <span class="h5">Compute</span>
                          </div>
                          <div class="accordion__content">
                            <p class="lead">
                              This model contains four EC2 instances with the same AMI wich is 'Amazon Linux 2 AMI
                              ' and with the same type which is 't2.micro'.
                            </p>
                            <p class="lead">
                              It contains two public instance which can access to internet directly with a public IP address, and the two other instances are made for private issuse, it could connect the other instances with its private IP address.
                            </p>
                          </div>
                        </li>
                        <li>
                          <div class="accordion__title">
                            <span class="h5">Security</span>
                          </div>
                          <div class="accordion__content">
                            <p class="lead">
                              We made two level of security in our model.
                            </p>
                            <p class="lead">
                              The first is the Network Access List which is different between public and private subnets, and the second is the Security Groups wich is another solution to ensure security directly for each instances.                            </p>
                          </div>
                        </li>
                        <li>
                          <div class="accordion__title">
                            <span class="h5">Region</span>
                          </div>
                          <div class="accordion__content">
                            <p class="lead">
                              This model will be deployed in the region of London.
                            </p>
                          </div>
                        </li>
                      </ul>
                      {% if val == 'CREATE_COMPLETE' and val1 == user.username and val2 == 'micro' %}
                      <div class="tabs-container text-center" data-content-align="left">
                        <ul class="tabs">
                          <li>
                            <div class="tab__title">
                              <a class="h5" style="color:black; text-decoration:none;" href="https://s3.eu-west-2.amazonaws.com/ml16compart/newkp.pem" >Download private key</a>
                            </div>
                          </li>

                          <li>
                            <div class="tab__title">
                              <a class="h5" style="color:black; text-decoration:none;" href="{% url 'deleteInfra2' %}" >Delete Stack</a>
                            </div>
                          </li>
                        </ul>
                      </div>
                      {% elif val == 'CREATE_IN_PROGRESS' and val1 == user.username and val2 == 'micro' %}
                      </br>
                      <div class="row justify-content-center">
                        <div class="alert bg--success">
                          <div class="alert__body">
                            <span>Your infrastructure will be available in few minutes ! </span>
                          </div>
                        </div>
                      </div>
                      {% elif val == 'DELETE_IN_PROGRESS' and val1 == user.username and val2 == 'micro' %}
                      </br>
                      <div class="row justify-content-center">
                        <div class="alert bg--error">
                          <div class="alert__body">
                            <span>Your infrastructure will be removed in few minutes !</span>
                          </div>
                        </div>
                      </div>
                      {% else %}
                      <form class="site-form" action=" {% url 'createDefInfra2' %} " method="POST">
                        {%csrf_token%}
                        {{form}}
                        <input type="submit" value="Build your default infrastructure">
                      </form>
                      {% endif %}
                    </div>
                    <div class="col-lg-5 col-md-6">
                      <br>
                      <br>
                      <img alt="Image" class="border--round " src="{% static 'img/cf_model_micro.png' %}" />
                    </div>
                  </div>
                  {% if val == 'CREATE_COMPLETE' and val1 == user.username and val2 == 'micro'%}
                  </br>
                  <div class="boxed bg--secondary boxed--md boxed--border" style="background:white;">
                    <div class="row justify-content-center">
                      <div class="col-md-12 col-lg-8">
                        <div class="wizard">
                          <h5>Private key</h5>
                          <section class="text-center">
                            <div class="pos-vertical-center">
                              <h4>Download the private key !</h4>
                            </div>
                          </section>
                          <h5>Permission</h5>
                          <section class="text-center">
                            <div class="pos-vertical-center">
                              <h4>Change key permissions via the command:</h4>
                              <h4><b>chmod 400 newkp.pem</b></h4>
                            </div>
                          </section>
                          <h5>Connect</h5>
                          <section class="text-center">
                            <div class="pos-vertical-center">
                              <h4>Connect to your instances via this ssh command:</h4>
                              </hr>
                              <h4 style="color:#4d92df;"><b>Instance 1:</b> </h4>
                              <h4>ssh -i "newkp.pem" ec2-user@<b>{{ip1}}</b><h4>
                              <h4 style="color:#4d92df;"><b>Instance 2:</b> </h4>
                              <h4>ssh -i "newkp.pem" ec2-user@<b>{{ip2}}</b><h4>
                              <h4 style="color:#4d92df;"><b>Instance 3:</b> </h4>
                              <h4>ssh -i "newkp.pem" ec2-user@<b>{{ip3}}</b><h4>
                              <h4 style="color:#4d92df;"><b>Instance 4:</b> </h4>
                              <h4>ssh -i "newkp.pem" ec2-user@<b>{{ip4}}</b><h4>
                              </div>
                            </section>
                          </div>
                        </div>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </section>
            </div>
          </li>
          <li>
            <div class="tab__title">
              <span class="h5">Medium</span>
            </div>
            <div class="tab__content">
              <section class="switchable bg--secondary" style="background:white;">
                <div class="container">
                  <div class="row justify-content-between">
                    <div class="col-md-7 switchable__text">
                      <ul class="accordion accordion-1">
                        <li>
                          <div class="accordion__title">
                            <span class="h5">Compute</span>
                          </div>
                          <div class="accordion__content">
                            <p class="lead">
                              This model contains two auto scaling groups with the same AMI wich is 'Amazon Linux 2 AMI
                              ' and with the same type which is 't2.micro'.
                            </p>
                            <p class="lead">
                              It contains one public auto scaling group which can access to internet directly with a public IP address, and another one which is made for private issuse, it could connect the other instances with its private IP address.
                            </p>
                          </div>
                        </li>
                        <li>
                          <div class="accordion__title">
                            <span class="h5">Security</span>
                          </div>
                          <div class="accordion__content">
                            <p class="lead">
                              We made two level of security in our model.
                            </p>
                            <p class="lead">
                              The first is the Network Access List which is different between public and private subnets, and the second is the Security Groups wich is another solution to ensure security directly for each instances.                            </p>
                          </div>
                        </li>
                        <li>
                          <div class="accordion__title">
                            <span class="h5">Region</span>
                          </div>
                          <div class="accordion__content">
                            <p class="lead">
                              This model will be deployed in the region of London.
                            </p>
                          </div>
                        </li>
                      </ul>
                      {% if val == 'CREATE_COMPLETE' and val1 == user.username and val2 == 'medium' %}
                      <div class="tabs-container text-center" data-content-align="left">
                        <ul class="tabs">
                          <li>
                            <div class="tab__title">
                              <a class="h5" style="color:black; text-decoration:none;" href="https://s3.eu-west-2.amazonaws.com/ml16compart/newkp.pem" >Download private key</a>
                            </div>
                          </li>

                          <li>
                            <div class="tab__title">
                              <a class="h5" style="color:black; text-decoration:none;" href="{% url 'deleteInfra1' %}" >Delete Stack</a>
                            </div>
                          </li>
                        </ul>
                      </div>
                      {% elif val == 'CREATE_IN_PROGRESS' and val1 == user.username and val2 == 'medium' %}
                      </br>
                      <div class="row justify-content-center">
                        <div class="alert bg--success">
                          <div class="alert__body">
                            <span>Your infrastructure will be available in few minutes ! </span>
                          </div>
                        </div>
                      </div>
                      {% elif val == 'DELETE_IN_PROGRESS' and val1 == user.username and val2 == 'medium' %}
                      </br>
                      <div class="row justify-content-center">
                        <div class="alert bg--error">
                          <div class="alert__body">
                            <span>Your infrastructure will be removed in few minutes !</span>
                          </div>
                        </div>
                      </div>
                      {% else %}
                      <form class="site-form" action=" {% url 'createDefInfra3' %} " method="POST">
                        {%csrf_token%}
                        {{form}}
                        <input type="submit" value="Build your default infrastructure">
                      </form>
                      {% endif %}
                    </div>
                    <div class="col-lg-5 col-md-6">
                      <img alt="Image" class="border--round" src="{% static 'img/cf_model_medium.png' %}" />
                    </div>
                  </div>
                  {% if val == 'CREATE_COMPLETE' and val1 == user.username and val2 == 'medium'%}
                  </br>
                  <div class="boxed bg--secondary boxed--md boxed--border" style="background:white;">
                    <div class="row justify-content-center">
                      <div class="col-md-12 col-lg-8">
                        <div class="wizard">
                          <h5>Private key</h5>
                          <section class="text-center">
                            <div class="pos-vertical-center">
                              <h4>Download the private key !</h4>
                            </div>
                          </section>
                          <h5>Permission</h5>
                          <section class="text-center">
                            <div class="pos-vertical-center">
                              <h4>Change key permissions via the command:</h4>
                              <h4><b>chmod 400 newkp.pem</b></h4>
                            </div>
                          </section>
                          <h5>Connect</h5>
                          <section class="text-center">
                            <div class="pos-vertical-center">
                              <h4>Connect to your instances via this ssh command:</h4>
                              </hr>
                              <h4 style="color:#4d92df;"><b>Instance 1:</b> </h4>
                              <h4>ssh -i "newkp.pem" ec2-user@<b>{{ip1}}</b><h4>
                              <h4 style="color:#4d92df;"><b>Instance 2:</b> </h4>
                              <h4>ssh -i "newkp.pem" ec2-user@<b>{{ip2}}</b><h4>
                              </div>
                            </section>
                          </div>
                        </div>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </section>
            </div>
          </li>
          <li>
            <div class="tab__title">
              <span class="h5">Large</span>
            </div>
            <div class="tab__content">
              <section class="switchable bg--secondary" style="background:white;">
                <div class="container">
                  <div class="row justify-content-between">
                    <div class="col-md-7 switchable__text">
                      <ul class="accordion accordion-1">
                        <li>
                          <div class="accordion__title">
                            <span class="h5">Compute</span>
                          </div>
                          <div class="accordion__content">
                            <p class="lead">
                              This model contains four auto scaling groups with the same AMI wich is 'Amazon Linux 2 AMI
                              ' and with the same type which is 't2.micro'.
                            </p>
                            <p class="lead">
                              It contains two public auto scaling group each one in a specefic availability zone, and they have access to internet directly with a public IP address, and two other each one in a specefic availability zone which are made for private issuse, it could connect the other instances with its private IP address.
                            </p>
                          </div>
                        </li>
                        <li>
                          <div class="accordion__title">
                            <span class="h5">Security</span>
                          </div>
                          <div class="accordion__content">
                            <p class="lead">
                              We made two level of security in our model.
                            </p>
                            <p class="lead">
                              The first is the Network Access List which is different between public and private subnets, and the second is the Security Groups wich is another solution to ensure security directly for each instances.                            </p>
                          </div>
                        </li>
                        <li>
                          <div class="accordion__title">
                            <span class="h5">Region</span>
                          </div>
                          <div class="accordion__content">
                            <p class="lead">
                              This model will be deployed in the region of London.
                            </p>
                          </div>
                        </li>
                      </ul>
                      {% if val == 'CREATE_COMPLETE' and val1 == user.username and val2 == 'large' %}
                      <div class="tabs-container text-center" data-content-align="left">
                        <ul class="tabs">
                          <li>
                            <div class="tab__title">
                              <a class="h5" style="color:black; text-decoration:none;" href="https://s3.eu-west-2.amazonaws.com/ml16compart/newkp.pem" >Download private key</a>
                            </div>
                          </li>

                          <li>
                            <div class="tab__title">
                              <a class="h5" style="color:black; text-decoration:none;" href="{% url 'deleteInfra1' %}" >Delete Stack</a>
                            </div>
                          </li>
                        </ul>
                      </div>
                      {% elif val == 'CREATE_IN_PROGRESS' and val1 == user.username and val2 == 'large' %}
                      </br>
                      <div class="row justify-content-center">
                        <div class="alert bg--success">
                          <div class="alert__body">
                            <span>Your infrastructure will be available in few minutes ! </span>
                          </div>
                        </div>
                      </div>
                      {% elif val == 'DELETE_IN_PROGRESS' and val1 == user.username and val2 == 'large' %}
                      </br>
                      <div class="row justify-content-center">
                        <div class="alert bg--error">
                          <div class="alert__body">
                            <span>Your infrastructure will be removed in few minutes !</span>
                          </div>
                        </div>
                      </div>
                      {% else %}
                      <form class="site-form" action=" {% url 'createDefInfra4' %} " method="POST">
                        {%csrf_token%}
                        {{form}}
                        <input type="submit" value="Build your default infrastructure">
                      </form>
                      {% endif %}
                    </div>
                    <div class="col-lg-5 col-md-6">
                      <br>
                      <br>
                    <img alt="Image" class="border--round" src="{% static 'img/cf_model_large.png' %}" />
                    </div>
                  </div>
                  {% if val == 'CREATE_COMPLETE' and val1 == user.username and val2 == 'large'%}
                  </br>
                  <div class="boxed bg--secondary boxed--md boxed--border" style="background:white;">
                    <div class="row justify-content-center">
                      <div class="col-md-12 col-lg-8">
                        <div class="wizard">
                          <h5>Private key</h5>
                          <section class="text-center">
                            <div class="pos-vertical-center">
                              <h4>Download the private key !</h4>
                            </div>
                          </section>
                          <h5>Permission</h5>
                          <section class="text-center">
                            <div class="pos-vertical-center">
                              <h4>Change key permissions via the command:</h4>
                              <h4><b>chmod 400 newkp.pem</b></h4>
                            </div>
                          </section>
                          <h5>Connect</h5>
                          <section class="text-center">
                            <div class="pos-vertical-center">
                              <h4>Connect to your instances via this ssh command:</h4>
                              </hr>
                              <h4 style="color:#4d92df;"><b>Instance 1:</b> </h4>
                              <h4>ssh -i "newkp.pem" ec2-user@<b>{{ip1}}</b><h4>
                              <h4 style="color:#4d92df;"><b>Instance 2:</b> </h4>
                              <h4>ssh -i "newkp.pem" ec2-user@<b>{{ip2}}</b><h4>
                              <h4 style="color:#4d92df;"><b>Instance 3:</b> </h4>
                              <h4>ssh -i "newkp.pem" ec2-user@<b>{{ip3}}</b><h4>
                              <h4 style="color:#4d92df;"><b>Instance 4:</b> </h4>
                              <h4>ssh -i "newkp.pem" ec2-user@<b>{{ip4}}</b><h4>
                            </div>
                            </section>
                          </div>
                        </div>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </section>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
