{% load staticfiles %}
<div class="nav-container ">
  <div class="bar bar--sm visible-xs">
    <div class="container">
      <div class="row">
        <div class="col-3 col-md-2">
          <a href="{% url 'home' %}">
            <img class="logo logo-dark" alt="logo" src="{% static 'img/logo-dark.png' %}">
            <img class="logo logo-light" alt="logo" src="{% static 'img/logo-light.png' %}">
          </a>
        </div>
        <div class="col-9 col-md-10 text-right">
          <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
            <i class="icon icon--sm stack-interface stack-menu"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <nav id="menu1" class="bar bar--sm bar-1 hidden-xs ">
    <div class="container">
      <div class="row">
        <div class="col-lg-1 col-md-2 hidden-xs">
          <div class="bar__module">
            <a href="{% url 'home' %}">
              <img class="logo logo-dark" alt="logo" src="{% static 'img/logo-dark.png' %}">
              <img class="logo logo-light" alt="logo" src="{% static 'img/logo-light.png' %}">
            </a>
          </div>
        </div>
        <div class="col-lg-11 col-md-12 text-right text-left-xs text-left-sm">
          <div class="bar__module">
            <ul>
              <li>
                <a style= "margin-right:3%; color:black ;" href="{% url 'user' %}"><b>Hi {{ user.username }}</b></a>
                <a  class="btn btn--sm btn btn-dark type--uppercase" href="{% url 'auth_logout' %}" role="button">
                  <span class="btn__text" style="color:white">Log out</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
