{% extends "registration/base2.html" %}
{% load staticfiles %}
{% load i18n %}
{% block head_title %}Login | {% endblock %}
{% block content %}

<section class="height-100 imagebg text-center" data-overlay="4">
  <div class="background-image-holder">
    <img alt="background" src="{% static 'img/recruitment-4.jpg' %}" />
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-md-7 col-lg-5">
        <div class="boxed boxed--lg bg--white boxed--border boxed-form">
          <h2>Login !</h2>
          <p class="lead"> Welcome back, sign in with your existing account credentials </p>
          <form method="post" action="">{% csrf_token %}
            <div class="form-group">
              <label class="required" for="id_username">Username:</label>
              <div class="input-icon">
                 <i class="material-icons">person</i>
                 {{form.username}}
              </div>

              <label class="required" for="id_password1">Password:</label>
              <div class="input-icon input-icon--right">
                <i class="material-icons">visibility</i>
                  {{form.password}}
              </div>
            </div>
             <div class="col-md-12">
                <button class="btn btn--primary type--uppercase" type="submit" value="{% trans 'Log in' %}">Login</button>
            </div>
          </form>
          <span class="type--fine-print block">Dont have an account yet?
            <a href="{% url 'registration_register' %}">Create account</a>
          </span>
          <span class="type--fine-print block">Forgot your password?
            <a href="{% url 'auth_password_reset' %}">Reset it</a>
          </span>
          <span class="type--fine-print block">
            <p>Back to <a href="{% url 'home' %}">home</a></p>
         </span>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
