{% extends "registration/base2.html" %}
{% load staticfiles %}
{% load i18n %}
{% block head_title %} Reset password | {% endblock %}
{% block content %}

<section class="height-100 imagebg text-center" data-overlay="4">
  <div class="background-image-holder">
    <img alt="background" src="{% static 'img/blog-6.jpg' %}" />
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-md-7 col-lg-6">
        <div class="boxed boxed--lg bg--dark boxed--border boxed-form">
                <h2>Recover your account</h2>
                <p>
                    {% blocktrans %}
                    Forgot your password?
                    Enter your email in the form below and we'll send you instructions for creating a new one.
                    {% endblocktrans %}
                </p>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="col-md-12">
                       <button class="btn btn--primary type--uppercase" type="submit" "{% trans 'Reset password' %}">Reset password</button>
                   </div>
                </form>
                <span class="type--fine-print block">Dont have an account yet?
                    <a href="{% url 'registration_register' %}"> Create account</a>
                </span>
                <span class="type--fine-print block">
                  <p>Back to <a href="{% url 'home' %}">home</a></p>
               </span>
        </div>
      </div>
        <!--end of row-->
    </div>
    <!--end of container-->
  </div>
</section>
{% endblock %}


{# This is used by django.contrib.auth #}
